<!DOCTYPE html>
<html>
  <head>
    <title>Globetrail</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Merienda:wght@300..900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
  </head>

  <body>
    <div class="page-container">
      <nav class="navbar navbar-bg">
        <h2 class="merienda-font ms-3">GlobeTrail</h2>
        <img class="avatar m-3" alt="avatar" src="https://kitt.lewagon.com/placeholder/users/arthur-littm" />
      </nav>

      <main class="main-content">
        <%= yield %>
      </main>

      <%# <footer class="footer"> %>
        <%# <div class="footer-links"> %>
          <%# <a href="#"><i class="fab fa-github"></i></a> %>
          <%# <a href="#"><i class="fab fa-instagram"></i></a> %>
          <%# <a href="#"><i class="fab fa-facebook"></i></a> %>
          <%# <a href="#"><i class="fab fa-twitter"></i></a> %>
          <%# <a href="#"><i class="fab fa-linkedin"></i></a> %>
        <%# </div> %>
        <%# <div class="footer-copyright"> %>
          <%# This footer is made with <i class="fas fa-heart"></i> at Le Wagon %>
        <%# </div> %>
      <%# </footer> %>
    </div>
  </body>
</html>
